local-env-vars.sh

nvim/plugin/
nvim/dein
nvim/tags*
nvim/.netrwhist
nvim/pythonpath.vim
nvim/nodepath.vim
nvim/autoload/plugged/*
nvim/vimspector-config/gadgets/*
nvim/paths.vim
nvim/session
nvim/wiki/
nvim/pack/
nvim/utils/java/*
nvim/lv-config.lua
nvim/lua-language-server/
nvim/eclipse.jdt.ls/
nvim/.language-servers/
nvim/.debuggers/
nvim/spell/
nvim/nv-settings.lua
nvim/lv-settings.lua
nvim/.stylua.toml
nvim/lua/lv-user-config/

